# Python Zero 2 Hero: Básico
### Una introducción a Python & Jupyter Notebook

#### Variables

In [1]:
x = 5
y = "Jonatan"
z = 1.76

In [6]:
type(z)

float

#### Operaciones Lógicas

In [8]:
edad = 19
sexo = 'femenino'

edad > 18 and sexo == "femenino"

True

In [9]:
salario = 9000
horas_trabajo = 7

salario > 12000 or horas_trabajo < 8

True

#### Condicionales

In [17]:
sexo = input('Sexo (mujer/hombre): ')
edad = int(input('Edad: '))

if sexo == 'mujer':
    if edad >= 16:
        print('Entra')
    else:
        print('No entra')
elif sexo == 'hombre':
    if edad >= 18:
        print('Entra')
    else:
        print('No entra')
else:
    print('¡Solo hay dos generos!')

Sexo (mujer/hombre): hombre
Edad: 24
Entra

#### Listas

In [18]:
amigos = ['amigo1','amigo2','tom']

In [21]:
#longitud de la lista
len(amigos)

4

In [29]:
#agregar un elemento a la lista
amigos.append('ismael')

In [22]:
print(amigos)

['amigo1', 'amigo2', 'tom', 'hector']

In [27]:
amigos[0]

'amigo1'

#### ciclos for

In [32]:
for bro in amigos:
    texto = 'Querido ' + bro + ' te deseo un feliz divorcio!'
    print(texto)

Querido amigo1 te deseo un feliz divorcio!
Querido amigo2 te deseo un feliz divorcio!
Querido tom te deseo un feliz divorcio!
Querido hector te deseo un feliz divorcio!
Querido ismael te deseo un feliz divorcio!

In [33]:
len(amigos)

5

In [40]:
for i in range(len(amigos)):
    if i % 2 == 0:
        print(amigos[i])

amigo1
tom
ismael

In [39]:
for num in [0,1,2,3,4]:
    print(amigos[num])

amigo1
amigo2
tom
hector
ismael

#### Primer Bot con Inteligencia Artificial

In [59]:
gato = ['Gato',500,8]
perro = ['Perro',2000,9]
hamster = ['Hamster',200,4]
tarantula = ['Tarantula',500,2]

In [60]:
catalogo = []
catalogo.append(gato)
catalogo.append(perro)
catalogo.append(hamster)
catalogo.append(tarantula)

In [61]:
print('BIENVENIDO A MI CATALOGO'+'\n')
for animal in catalogo:
    nombre_animal = animal[0]
    costo_animal = animal[1]
    diversion_animal = animal[2]
    
    print('----------')
    print('Nombre animal: '+ nombre_animal)
    print('Costo: ' + str(costo_animal))
    print('Diversion Niños: ' + str(diversion_animal))
    print('----------')

BIENVENIDO A MI CATALOGO

----------
Nombre animal: Gato
Costo: 500
Diversion Niños: 8
----------
----------
Nombre animal: Perro
Costo: 2000
Diversion Niños: 9
----------
----------
Nombre animal: Hamster
Costo: 200
Diversion Niños: 4
----------
----------
Nombre animal: Tarantula
Costo: 500
Diversion Niños: 2
----------

#### Tarea 2

In [ ]:
presupuesto_cliente = input()
tiene_niños = input()

#muestren UNICAMENTE los animales que le alcanzan y si tiene niños, animales con calificiacion mayor a 5

In [54]:
nombre = 'Jonatan'
apellido = 'Blank'

In [56]:
print(nombre+' '+apellido)

Jonatan Blank