### Una motivaciÃ³n...

Vamos a calcular la formula de Euler para sumar los primeros n enteros:

$\sum_{i=1}^{n} n = \frac{n(n+1)}{2}$

In [1]:
def euler(n):
    s = (n*(n+1))/2
    return s

In [3]:
euler(4)

10.0

### Variables

In [4]:
x = '5'

In [9]:
x = int(x)
x = str(x)
x = float(x)

In [10]:
x/5

1.0

In [11]:
x = input('Edad: ')
type(x)

Edad: 24

str

### Estructuras Logicas

In [13]:
10 > 5 and 10 > 11

False

In [14]:
10 > 6 or 10 > 11

True

In [15]:
edad = 18
edad >= 18

True

In [16]:
edad == 18

True

In [20]:
edad = 17
if edad == 18:
    print('te salvaste')

### Condicionales

In [21]:
edad = 18
if edad >= 18:
    print('entra')

entra

### Estructuras de Datos

#### 1. Listas

In [30]:
lista = [1,2,3,4,5,6,7,8,9,5,5,5,3,4,5,6,7,6,5,4,3,4,5,6,7,10]

In [28]:
lista.append(-9)

In [29]:
len(lista)

10

In [31]:
lista.count(5)

7

#### 2. Diccionarios

In [37]:
#JSON = JavaScript Object Notation
almacen = {
    'cursos_programacion': {
        'python': {
            'costo': 500,
            'duracion': 16
        },
        'r': {
            'costo': 500,
            'duracion': 16
        }
    }
}

In [36]:
almacen['cursos_programacion']['python']['costo']

500

### Ciclos

#### for

In [38]:
#Base de datos relacional
amigos = [
    ['Tom',22,6000],
    ['Jessica',19,2000],
    ['Teressa',26,12000]
]

In [43]:
for info in amigos:
    name = info[0]
    print(f'Tengo un amigo que se llama {name}')

Tengo un amigo que se llama Tom
Tengo un amigo que se llama Jessica
Tengo un amigo que se llama Teressa

#### while

In [46]:
bk = 5
counter = 0
while counter < bk:
    print('Hell no')
    counter = counter + 1

Hell no
Hell no
Hell no
Hell no
Hell no

In [47]:
for i in range(5):
    print('Hell no')

Hell no
Hell no
Hell no
Hell no
Hell no

### Funciones

In [48]:
salario = [10,10,11]

In [49]:
sum(salario)

31

In [52]:
def nombre_de_funcion(parametro1,parametro2):
    suma_param = parametro1 + parametro2
    return suma_param

In [53]:
nombre_de_funcion('Hola ','Jonatan')

'Hola Jonatan'

In [54]:
nombre_de_funcion(10,17)

27

In [56]:
def boyfriend_selector(height,hair_color,eye_color):
    if height < 165:
        print('Bye Loser')
    elif height >= 165 and height < 180:
        if hair_color == 'black' and eye_color == 'blue':
            print('Yes baby')
        else:
            print('Almost... sorry')
    else:
        if hair_color == 'black' and eye_color == 'blue':
            print('You are perfect for me')
        elif hair_color == 'black' or eye_color == 'blue':
            print('You are a 9.99/10')
        else:
            print('You are tall enough <3')

In [60]:
boyfriend_selector(172,'black','brown')

Almost... sorry